NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=max_nextauth_secret_2024
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

NEXT_PUBLIC_VAPID_PUBLIC_KEY=your-vapid-public-key
